name: Deploy to Cloud Run

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy greengrow \
            --source . \
            --region us-central1 \
            --service-account=genai-592@gen-ai-4all.iam.gserviceaccount.com \
            --impersonate-service-account=genai-592@gen-ai-4all.iam.gserviceaccount.com \
            --set-env-vars="GCP_PROJECT=${{ secrets.GCP_PROJECT }},DATA_COMMONS_API_KEY=${{ secrets.DATA_COMMONS_API_KEY }}" \
            --allow-unauthenticated
